<h1>Create new customer</h1>

"salutation": "Mr", "fullName": "Edijun", "motherName": "Khadijah", "birthPlace": "Jakarta", "birthDate": "2002-02-01T17:00:00.000+0000",
"gender": "M", "religion": "Muslim", "martialStatus": "S", "numberDependent": 0, "occupation": "Software Developer", "subOccupation":
"Programmer",

<form>
  <div class="form-row">
    <div class="form-group col-md-2">
      <label for="inputSalutation">Salutation</label>
      <select id="inputSalutation" class="form-control">
        <option selected>Mr</option>
        <option>Mrs</option>
        <option>Miss</option>
      </select>
    </div>
    <div class="form-group col-md-5">
      <label for="inputFullName">Full Name</label>
      <input type="text" class="form-control" id="inputName" placeholder="Full Name">
    </div>
    <div class="form-group col-md-5">
      <label for="inputMotherName">Mother Name</label>
      <input type="text" class="form-control" id="inputMotherName" placeholder="Mother Name">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputBirthPlace">Birth Place</label>
      <input type="text" class="form-control" id="inputBirthPlace" placeholder="Birth Place">
    </div>
    <div class="form-group col-md-4">
      <label for="inputBirthDate">Birth Date</label>
      <input type="text" class="form-control" id="inputBirthDate" placeholder="birthDate">
    </div>
    <div class="form-group col-md-5">
      <label for="inputMotherName">Mother Name</label>
      <input type="text" class="form-control" id="inputMotherName" placeholder="Mother name">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <div class="form-group">
    <label for="inputAddress2">Address 2</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>